@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* --- ESTILOS DE SCROLLBAR --- */

/* Para navegadores como Chrome, Safari, Edge, etc. (WebKit) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}